body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  max-width: 960px;
  margin: auto;
}

h1 {
  font-size: 3em;
  letter-spacing: .6em;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.6em;
  margin-left: 1em;
}

main { 
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 2em;
}

header {
  text-align: center;
  margin: auto 2em;
}

section {
  margin: auto 1em 2.6em 2em;
}

i {
  margin-right: .5em;
}

p {
  margin: .2em auto
}

hr {
  border: none;
  background-color: lightgray;
  height: 1px;
}

h1, h2 {
  font-weight: 100;
  margin-bottom: 0;
}

span {
    font-weight: 700;
}

input:hover {
  cursor: pointer
}

#mainLeft {
  border-right: 1px solid lightgray;
}

#phone {
  display: flex;
  align-items: center;
}

#phone i {
  margin-right: 10px;
  width: fit;
}

#formacion{
  padding-inline-start: 0;
  margin: auto 1em 2.6em 2em;
}

#formacion li {
  margin-bottom: 10px;
}

#codigo {
  width: 100%;
  display: flex;
  place-content: center;
  margin: 2em auto;
}

#idiomas {
  display: flex;
  justify-content: space-around;
}

#print {
  position: relative;
  padding: 1px;
}

#print input {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 11px;
}

@media print {
  #printButton {
    display: none;
  }
}